@{
    ViewBag.Title = "Mant Usuarios";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h2 class="text-primary text-center bg-warning">Mantenimiento de Usuarios</h2>
    </div>
</div>

@if (@ViewBag.seleccion != null)
{
    <form action="/Upkeep/Update_Usuario" method="POST" id="form_usuario" autocomplete="off">

        @Html.AntiForgeryToken()

        <div class="row mt-3">

            <div class="col-12 col-md-3 input-group-sm">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" maxlength="25" name="usuario" id="usuario" value="@ViewBag.seleccion[0].usuario" required autofocus />
            </div>

            <div class="col-12 col-md-2 input-group-sm">
                <label for="clave">Clave</label>
                <input type="password" class="form-control" maxlength="25" name="clave" id="clave" value="@ViewBag.seleccion[0].clave" required />
            </div>

            <div class="col-12 col-md-3 input-group-sm">
                <label for="nombre">Nombre del usuario</label>
                <input type="text" class="form-control" maxlength="100" name="nombre" id="nombre" value="@ViewBag.seleccion[0].nombre_completo" required />
            </div>

            <div class="col-12 col-md-2 input-group-sm">
                <label for="select_nivel">Nivel</label>
                <select class="custom-select" name="select_nivel" id="select_nivel" required>
                    <option value=""></option>
                    @if(@ViewBag.seleccion[0].nivel == 1){
                    <option value="1" selected>Admin</option>
                    }
                    else
                    {
                    <option value="1">Admin</option>
                    }

                    @if(@ViewBag.seleccion[0].nivel == 2){
                    <option value="2" selected>Supervisor</option>
                    }
                    else
                    {
                    <option value="2">Supervisor</option>
                    }

                    @if(@ViewBag.seleccion[0].nivel == 3){
                    <option value="3" selected>Usuario</option>
                    }
                    else
                    {
                    <option value="3">Usuario</option>
                    }
                </select>
            </div>

            <div class="col-12 col-md-2 input-group-sm">
                <label for="select_estado">Estado</label>
                <select class="custom-select" name="select_estado" id="select_estado" required>
                    @if(@ViewBag.seleccion[0].activo == 1){
                    <option value="1" selected>Activo</option>
                    }
                    else
                    {
                    <option value="1">Activo</option>
                    }

                    @if(@ViewBag.seleccion[0].activo == 0){
                    <option value="0" selected>Inactivo</option>
                    }
                    else
                    {
                    <option value="0">Inactivo</option>
                    }
                </select>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-12 col-md-2 input-group-sm ">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_grabar">
                    Actualizar
                    Usuario
                </button>
            </div>

            <div class="col-12 col-md-3 input-group-sm">
                <a href="/Upkeep/Usuario" class="btn btn-info btn-sm">Volver a Registro de Usuarios</a>
            </div>

            @*<div class="col-12 col-md-7 input-group-sm ">
                <a href="/Home/Index" class="btn btn-success btn-sm">Ir a Registro de Documentos</a>
            </div>*@

            <input type="hidden" name="id_registro" id="id_registro" value=@ViewBag.seleccion[0].idusuario />

        </div>

    </form>

}
else
{
    <form action="/Upkeep/Save_Usuario" method="POST" id="form_usuario" autocomplete="off">

        @Html.AntiForgeryToken()

        <div class="row mt-3">

            <div class="col-12 col-md-3 input-group-sm">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" maxlength="25" name="usuario" id="usuario" required autofocus />
            </div>
            <div class="col-12 col-md-2 input-group-sm">
                <label for="clave">Clave</label>
                <input type="password" class="form-control" maxlength="25" name="clave" id="clave" required />
            </div>
            <div class="col-12 col-md-3 input-group-sm">
                <label for="nombre">Nombre del usuario</label>
                <input type="text" class="form-control" maxlength="100" name="nombre" id="nombre" required />
            </div>
            <div class="col-12 col-md-2 input-group-sm">
                <label for="select_nivel">Nivel</label>
                <select class="custom-select" name="select_nivel" id="select_nivel" required>
                    <option value=""></option>
                    <option value="1">Admin</option>
                    <option value="2">Supervisor</option>
                    <option value="3">Usuario</option>
                </select>
            </div>
            <div class="col-12 col-md-2 input-group-sm">
                <label for="select_estado">Estado</label>
                <select class="custom-select" name="select_estado" id="select_estado" required>
                    <option value=""></option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col input-group-sm">
                <button type="submit" class="btn btn-primary btn-sm mt-2" id="btn_grabar">
                    Grabar
                    Usuario
                </button>
            </div>
        </div>

        @*<div class="col-12 col-md-10 input-group-sm">
            <a href="/Home/Index" class="btn btn-success btn-sm">Volver a Registro de Documentos</a>
        </div>*@

    </form>
}


@if (!string.IsNullOrEmpty(@ViewBag.msgUsuario))
{
    int p = @ViewBag.msgUsuario.IndexOf("Error");
    <div class="row mt-1">
        @if (p >= 0)
        {
            <div class="col">
                <h4 class="text-danger text-center">@ViewBag.msgUsuario</h4>
            </div>
        }
        else
        {
            <div class="col">
                <h4 class="text-success text-center">@ViewBag.msgUsuario</h4>
            </div>
        }
    </div>
}


@if (@ViewBag.registros != null)
{
    <div class="row">
        <div class="col scrollme">
            <table class="table table-responsive table-hover table-sm table-striped table-bordered mt-5" style="height: 500px;">

                <thead class="thead-dark">
                    <tr>                        
                        <th class="align-middle">Usuario</th>
                        <th class="align-middle">Nombre</th>
                        <th class="align-middle">Nivel</th>
                        <th class="align-middle">Estado</th>
                        <th class="align-middle text-center">Editar</th>
                        <th class="align-middle text-center">Eliminar</th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var reg in @ViewBag.registros)
                    {

                    <tr>
                        <td class="align-middle" width="250">@reg.usuario</td>
                        <td class="align-middle" width="400">@reg.nombre_completo</td>
                        @if (@reg.nivel == 1)
                        {
                            <td class="align-middle" width="150">Admin</td>
                        }
                        @if (@reg.nivel == 2)
                        {
                            <td class="align-middle" width="150">Supervisor</td>
                        }
                        @if (@reg.nivel == 3)
                        {
                            <td class="align-middle" width="150">Usuario</td>
                        }

                        @if (@reg.activo == 0)
                        {
                            <td class="align-middle" width="150">Inactivo</td>
                        }
                        @if (@reg.activo == 1)
                        {
                            <td class="align-middle" width="150">Activo</td>
                        }
                        <td class="align-middle text-center"><a href="/Upkeep/Edit_Usuario/@reg.idusuario" class="btn btn-warning btn-sm">Editar</a></td>

                        <td class="align-middle text-center">
                            <a href="/Upkeep/Delete_Usuario/@reg.idusuario" id="btnEliminar"
                               class="btn btn-danger btn-delete btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
}
else
{
    <div class="row mt-3">
    </div>
}
